.container{
  max-width: 1120px;
  margin: 0 auto;
  padding: 0 2rem;
}

.posts{
  max-width: 720px;
  margin: 5rem auto;
  
}

.posts a{
  display: block;
  text-decoration: none;
}

.posts a& + a{
  margin-top: 2rem;
  padding-top: 2rem;
}

.posts time{
  font-size: 1rem;
  display: flex;
  align-items: center;
  color: var(--gray800);

}

.posts img{
  max-width: 100%;
  max-height: 410px;
  border: 2px solid var(--blue300);
  border-radius: 6px;
  border-image: linear-gradient(95deg, #31b4d0, transparent) 1;
}

.posts strong{
  display: block;
  font-size: 1.5rem;
  margin: 1rem 0;
  line-height: 2rem;
  color: var(--gray900);
  transition: color 0.3s;
}

.posts p{
  color: var(--gray900);
  margin-top: 0.5rem;
  line-height: 1.62rem;
}

.posts a:hover strong{
  color: var(--blue500);
}



.buttonNavigate{
margin-top: 2rem;
display: flex;
align-items: center;
flex-direction: row;
justify-content: space-between;
}


.buttonNavigate div{
  display: flex;
  flex-direction: row;

}

.buttonNavigate button{
  margin: 0 5px;
  border: 0;
  background-color: var(--blue500);
  color: var(--white);
  display: flex;
  padding: 0.5rem;
  border-radius: 5px;

 
}

.buttonNavigate button svg{
  padding: 0 3px;
}